<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>myshop</display-name>
  <filter>
    <filter-name>adminvalidate</filter-name>
    <filter-class>com.rz.adminvalidate</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminvalidate</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>newsadd</servlet-name>
    <servlet-class>com.rz.newsadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsadd</servlet-name>
    <url-pattern>/admin/newsadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newslist</servlet-name>
    <servlet-class>com.rz.newslist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newslist</servlet-name>
    <url-pattern>/admin/newslist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newsedit</servlet-name>
    <servlet-class>com.rz.newsedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsedit</servlet-name>
    <url-pattern>/admin/newsedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.rz.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newsdelete</servlet-name>
    <servlet-class>com.rz.newsdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsdelete</servlet-name>
    <url-pattern>/admin/newsdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uinewsitem</servlet-name>
    <servlet-class>com.rz.uinewsitem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uinewsitem</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productadd</servlet-name>
    <servlet-class>com.rz.productadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productadd</servlet-name>
    <url-pattern>/admin/productadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>guestbooklist</servlet-name>
    <servlet-class>com.rz.guestbooklist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestbooklist</servlet-name>
    <url-pattern>/admin/guestbooklist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>guestbookdelete</servlet-name>
    <servlet-class>com.rz.guestbookdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestbookdelete</servlet-name>
    <url-pattern>/admin/guestbookdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>picadd</servlet-name>
    <servlet-class>com.rz.picadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>picadd</servlet-name>
    <url-pattern>/admin/picadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberlist</servlet-name>
    <servlet-class>com.rz.memberlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberlist</servlet-name>
    <url-pattern>/admin/memberlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>proadd</servlet-name>
    <servlet-class>com.rz.proadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>proadd</servlet-name>
    <url-pattern>/admin/proadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prolist</servlet-name>
    <servlet-class>com.rz.prolist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prolist</servlet-name>
    <url-pattern>/admin/prolist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderheadlist</servlet-name>
    <servlet-class>com.rz.orderheadlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderheadlist</servlet-name>
    <url-pattern>/admin/orderheadlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderview</servlet-name>
    <servlet-class>com.rz.orderview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderview</servlet-name>
    <url-pattern>/admin/orderview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>proedit</servlet-name>
    <servlet-class>com.rz.proedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>proedit</servlet-name>
    <url-pattern>/admin/proedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prodelete</servlet-name>
    <servlet-class>com.rz.prodelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prodelete</servlet-name>
    <url-pattern>/admin/prodelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.rz.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberdelete</servlet-name>
    <servlet-class>com.rz.memberdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberdelete</servlet-name>
    <url-pattern>/admin/memberdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderdelete</servlet-name>
    <servlet-class>com.rz.orderdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderdelete</servlet-name>
    <url-pattern>/admin/orderdelete</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>